@page
@model CinemaWebClient.Pages.Admin.User.IndexModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}
@*<style>
	.userTable {
		width: 90%;
		margin: 0 auto;
	}

	.create-link {
		margin-left: 5%;
	}

	.mt-10 {
		margin-top: 10px;
	}
</style>*@
<div class="container-fluid">
	<div class="d-sm-flex align-items-center mb-4">
		<h1 class="h3 mb-0 text-gray-800">Users</h1>
	</div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List User</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
				<table class="table table-bordered" id="userTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
							<th>ID</th>
							<th>Email</th>
							<th>FirstName</th>
							<th>LastName</th>
							<th>Balance</th>
							<th>Role</th>
							<th>Status</th>
							<th>Actions</th>
                        </tr>
                    </thead>
					<tbody id="tableContent">
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{

	<script>
		$(document).ready(function () {

			$('#userTable').DataTable({
				"searching": false,
				"lengthChange": false,
				"info": false,
				"ordering": false,
			});
			LoadData('http://localhost:5001/odata/Users?$expand=Role');
		});

		function LoadData(link) {
			var tableContent = document.getElementById('tableContent');
			tableContent.innerHTML = "";
			$.ajax({
				url: link,
				type: 'GET',
				data: {
				},
				success: (response) => {
					var data = response.value;
					var tr = '';
					for (var i = 0; i < data.length; i++) {
						tr +=
							`
															<tr>
																<td>${data[i].UserId}</td>
																<td>${data[i].Email}</td>
																<td>${data[i].FirstName}</td>
																<td>${data[i].LastName}</td>
																<td>${data[i].AccountBalance}</td>
																<td>${data[i].Role.RoleName}</td>
																<td>${data[i].IsActive == true ? "Actived" : "Banned"}</td>
																<td><a href="/Admin/User/Edit/${data[i].UserId}">Edit</a></td>
															</tr>`;
					}
					tableContent.innerHTML += tr;
				},
				error: (err) => {
					NotificationMessageError("Server not respone!");
				}
			});
		}

		var querySearch = "http://localhost:5001/odata/Users?$expand=Role ";
		function Search() {
			LoadData(querySearch + query);
		}
	</script>
	@if (TempData["ErrorMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageError('@TempData["ErrorMsg"].ToString()');
			});
		</script>
	}
	else if (TempData["SuccessMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageSuccess('@TempData["SuccessMsg"].ToString()');
			});
		</script>
	}
}

