@page
@model CinemaWebClient.Pages.Login.IndexModel
@{
    //Layout = null;
}
<div id="g_id_onload"
     data-client_id="965301919060-14n1bau1ssqu2m2mcahej5pv8bm7b7pn.apps.googleusercontent.com"
     data-context="signin"
     data-ux_mode="popup"
     data-login_uri="/Login/DataLogin"
     data-auto_prompt="false"
>
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="filled_blue"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>
<script src="https://accounts.google.com/gsi/client" async defer></script>
@*<script>
    $(document).ready(function onDocumentReady() {
        setInterval(function doThisEveryTwoSeconds() {
            toastr.success("Hello World!");
        }, 2000);   
    });
</script>*@