@page
@model CinemaWebClient.Pages.Payment.IndexModel
@{
}


<div class="container-fluid">
    <div class="row">
        <!-- BILLING INFORMATION -->
        <div class="col-md-8">
            <div class="d-flex">
                <i class="fa-regular fa-user" style="font-size:20px"></i>
                <h2 style="margin-left:10px">ORDER INFORMATION</h2>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <h5 class="bold">Name: </h5>
                    <span>Lê Đức Hiếu </span>
                </div>
                <div class="col-md-4">
                    <h5 class="bold">Phone: </h5>
                    <span>0336687454</span>
                </div>
                <div class="col-md-4">
                    <h5 class="bold">Email: </h5>
                    <span>leduchieu2001x@gmail.com</span>
                </div>
            </div>

            <hr />

            <div class="row d-flex">
                <h4 class="bold col-md-7">Number of ticket: </h4>
                <p class="col-md-3">1 x 45.000</p>
                <p class="col-md-2" id="price">= 45.000</p>
            </div>

        </div>

        <!-- Info film -->
        <div class="col-md-4">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <img class="img-responsive" style="width: 100%" alt="" src="https://kynguyenlamdep.com/wp-content/uploads/2022/06/anh-gai-xinh-cuc-dep.jpg">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <h3 class="bold color1">Hehe</h3>
                    <h4>Siu nhan</h4>
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <div class="text-center">
                    <button type="button" class="btn btn-primary"  onclick="backButtonClick()" style="font-weight: normal;">
                        Back
                    </button>
                    <button type="button" class="btn btn-primary" onclick="payButtonClick()" style="font-weight: normal;" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Pay
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" >
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Bill's info</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="qrCode"></div>
                <ul style="display: block; margin-left: auto; margin-right: auto; width: 50%;">
                    <li>Số tiền: <b><span style="color:red;">45,000₫</span></b> </li>
                    <li>Nội dung chuyển khoản: <b><span style="color:red;">Hehe</span></b> </li>
                    <li>Tên chủ tài khoản: <b><span style="color:red;">Lê Đức Hiếu</span></b> </li>
                    <li>Số tài khoản: <b><span style="color:red;">0336687454</span></b></li>
                    <li><b><span style="color:red;">Ngân hàng Quân đội </span></b></li>
                </ul>

                <h3 style="color:red;">Chú ý mỗi mã QRCode chỉ chuyển 1 lần duy nhất</h3>
                <p>
                    Nếu chuyển thủ công điền sai thông tin chuyển khoản hoặc chuyển nhiều lần cùng 1 mã giao dịch, hệ thống sẽ
                </p>
                <ul>
                    <li><strong>không</strong> cộng tiền vào tài khoản của quý khách</li>
                    <li><strong>không</strong> hoàn trả tiền</li>
                    <li><strong>không</strong> chịu trách nhiệm về khoản tiền chuyển nhầm hoặc chuyển thừa</li>
                </ul>
                <h4>
                    Vui lòng chờ đợi 1 vài phút để hệ thống cập nhật số dư sau khi đã chuyển khoản.<br>
                </h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    function payButtonClick(){
        var price = document.querySelector("#price");
        var info = "Hehe";
        var vietQrUrl = "https://img.vietqr.io/image/MB-0336687454-compact.png?accountName=LE%20DUC%20HIEU";
        vietQrUrl += "&amount=" + price;
        vietQrUrl += "&addInfo=" + info;

        var img = `<img src='`+ vietQrUrl +`' alt="QR Thanh toán" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">`;
        $(document).ready(function () {
            document.getElementById("qrCode").innerHTML = img;
        });
    }
</script>