@page
@model CinemaWebClient.Pages.HomeModel
@{
    Layout = "_Layout";
}

<!-- Header-->
<header class="py-5">
    @*bg-dark *@
    <div class="container">
        @*px-4 px-lg-5 my-5*@
        <div class="text-center text-white" style="height:400px">
            <img class="w-100 h-100" style="object-fit:cover; border-radius:10px;" src="https://images.pexels.com/photos/375885/pexels-photo-375885.jpeg?cs=srgb&dl=pexels-clem-onojeghuo-375885.jpg&fm=jpg" />
            @*<h1 class="display-4 fw-bolder">Cinema</h1>
            <p class="lead fw-normal text-white-50 mb-0">With more amazing</p>*@
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" id="content"></div>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn btn-info btn-lg" id="btnLoadMore">Load more</button>
    </div>
</section>


<script src="~/lib/bootstrap//dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/scripts.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<script>
    var api = "http://localhost:5001/api/Films?$orderby=filmId & $skip=0 & $top=4";
    var totalFilm = 0;
    $(document).ready(function () {
        LoadData(api);
        GetTotalFilm("http://localhost:5001/api/Films/TotalFilms");
    });

    document.getElementById("btnLoadMore").addEventListener("click", () => {
        var currentTotal = document.getElementsByClassName("filmInfo").length;
        var api = "";
        if(currentTotal < totalFilm){
            api = "http://localhost:5001/api/Films?$orderby=filmId & $skip=" + currentTotal + " & $top=4";
            LoadData(api);
            if (currentTotal + 4 >= totalFilm){
                document.getElementById("btnLoadMore").style.display = "none";
            }
        }
    });

    function GetTotalFilm(link){
        $.ajax({
            url: link,
            type: 'GET',
            success: (data) => {
                totalFilm = data;
            },
            error: (err) => {
                NotificationMessageError("Server not respone!");
            }
        });
    }

    function LoadData(link) {
        var tableContent = document.getElementById('content');
        $.ajax({
            url: link,
            type: 'GET',
            data: {
            },
            success: (data) => {
                var tr = '';
                tr += `<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4">`;
                for (var i = 0; i < data.length; i++) {
                    tr += `<div class="col mb-3 filmInfo">`
                    tr += `<div class="card h-150">`;
                    tr += `<a class="text-decoration-none" href="/Film/Detail?id=${data[i].filmId}"><img class="" src="http://localhost:5001/api/Images/${data[i].image}" alt="..." style="width=300px; height=400px"/></a>`
                    tr += `<div class="card-body p-4">`
                    tr += `<div class="">`
                    tr += `<a class="text-decoration-none" href='Film/Detail?id=${data[i].filmId}'><b>${data[i].title}</b></a>`
                    tr += `<ul class = "list-unstyled">`
                    tr += `<li><span><b>Genre: </b></span> ${data[i].genre.genreName}</li>`
                    tr += `<li><span><b>Duration: </b></span> ${data[i].filmDuration} minues</li>`
                    tr += `</ul>`
                    tr += `<a class="btn btn-primary" href="Film/Booking?id=${data[i].filmId}" role="button" style="margin-left:26%">Buy ticket</a>`
                    tr += `</div>`;
                    tr += `</div>`;
                    tr += `</div>`;
                    tr += `</div>`;
                }
                for(var i = 0; i < 4-data.length; i++){
                    tr += `<div class="col mb-3">`
                    tr += `</div>`;
                }
                tr += `</div>`
                tableContent.innerHTML += tr;
            },
            error: (err) => {
                NotificationMessageError("Server not respone!");
            }
        });
    }
</script>


