@page
@model CinemaWebClient.Pages.SignInModel
@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Cross-Origin-Opener-Policy" content="same-origin-allow-popups" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sign In</title>
	@*<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">*@
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	@*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">*@
	@*<link href="~/css/style.css" rel="stylesheet" />*@
	<link href="~/css/signin.css" rel="stylesheet" />
	<script src="https://accounts.google.com/gsi/client" async defer></script>
	@*<script nonce="4aefb833-97bc-41de-82c7-e80ee3b2f156">(function (w, d) { !function (dK, dL, dM, dN) { dK[dM] = dK[dM] || {}; dK[dM].executed = []; dK.zaraz = { deferred: [], listeners: [] }; dK.zaraz.q = []; dK.zaraz._f = function (dO) { return function () { var dP = Array.prototype.slice.call(arguments); dK.zaraz.q.push({ m: dO, a: dP }) } }; for (const dQ of ["track", "set", "debug"]) dK.zaraz[dQ] = dK.zaraz._f(dQ); dK.zaraz.init = () => { var dR = dL.getElementsByTagName(dN)[0], dS = dL.createElement(dN), dT = dL.getElementsByTagName("title")[0]; dT && (dK[dM].t = dL.getElementsByTagName("title")[0].text); dK[dM].x = Math.random(); dK[dM].w = dK.screen.width; dK[dM].h = dK.screen.height; dK[dM].j = dK.innerHeight; dK[dM].e = dK.innerWidth; dK[dM].l = dK.location.href; dK[dM].r = dL.referrer; dK[dM].k = dK.screen.colorDepth; dK[dM].n = dL.characterSet; dK[dM].o = (new Date).getTimezoneOffset(); if (dK.dataLayer) for (const dX of Object.entries(Object.entries(dataLayer).reduce(((dY, dZ) => ({ ...dY[1], ...dZ[1] })), {}))) zaraz.set(dX[0], dX[1], { scope: "page" }); dK[dM].q = []; for (; dK.zaraz.q.length;) { const d_ = dK.zaraz.q.shift(); dK[dM].q.push(d_) } dS.defer = !0; for (const ea of [localStorage, sessionStorage]) Object.keys(ea || {}).filter((ec => ec.startsWith("_zaraz_"))).forEach((eb => { try { dK[dM]["z_" + eb.slice(7)] = JSON.parse(ea.getItem(eb)) } catch { dK[dM]["z_" + eb.slice(7)] = ea.getItem(eb) } })); dS.referrerPolicy = "origin"; dS.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(dK[dM]))); dR.parentNode.insertBefore(dS, dR) };["complete", "interactive"].includes(dL.readyState) ? zaraz.init() : dK.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>*@
</head>
<body>
    <section class="vh-100">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 px-0 d-none d-sm-block">
                    <img src="https://learnenglishteens.britishcouncil.org/sites/teens/files/field/image/RS9247_GettyImages-1334662982-hig.jpg"
                         alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
                <div class="col-sm-5 text-black">

                    @*<div class="px-5 ms-xl-4">
                        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
                        <span class="h1 fw-bold mb-0">Wellcome to Cinema</span>
                    </div>*@

                    <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 pt-xl-0 mt-xl-n5"> <!-- mt-5 pt-5-->
                        <form method="post" asp-page="/SignIn" style="width: 28rem;">

							<h3 class="fw-normal mb-3 pb-3 text-center" style="letter-spacing: 1px;font-weight: 700 !important;">Sign In</h3>
							@if (TempData["SuccessMsg"] != null)
							{
								<div class="alert alert-success" role="alert">
									@TempData["SuccessMsg"]
								</div>

							}
							@if (TempData["ErrorMsg"] != null)
							{
								<div class="alert alert-danger" role="alert">
									@TempData["ErrorMsg"]
								</div>

							}
                            <div class="form-outline mb-4">
                                <label class="form-label">Email address</label>
								<input asp-for="UserSignIn.Email" class="form-control form-control-lg" />
								<span asp-validation-for="UserSignIn.Email" class="text-danger ml-2"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label">Password</label>
								<input asp-for="UserSignIn.Password" type="password" class="form-control form-control-lg" />
								<span asp-validation-for="UserSignIn.Password" class="text-danger ml-2"></span>
                            </div>

                            <div class="pt-1 mb-4">
								<button class="btn btn-info btn-lg btn-block w-100" style="font-weight: 700;color: white;" type="submit">
									SignIn
								</button>
                            </div>

                            @*<p class="small mb-5 pb-lg-2"><a class="text-muted" href="#!">Forgot password?</a></p>*@
                            <p>Don't have an account? <a asp-page="/SignUp" class="link-info">Sign Up here</a></p>
							<p class="w-100 text-center">&mdash; Or Sign In With &mdash;</p>
							<div class="social d-flex text-center justify-content-center">
								<div id="g_id_onload"
									 data-client_id="965301919060-vi54tl3925kjdhprfvusnoshavhhn31k.apps.googleusercontent.com"
									 data-context="signin"
									 data-ux_mode="popup"
									 data-callback="onSignIn"
									 data-itp_support="true"
									 data-auto_prompt="false">
								</div>

								<div class="g_id_signin"
									 data-type="standard"
									 data-shape="rectangle"
									 data-theme="outline"
									 data-text="signin_with"
									 data-size="large"
									 data-logo_alignment="left">
								</div>
							</div>
						</form>
                    </div>
                </div>
            </div>
        </div>
    </section>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/js/signin.js"></script>
	@*<script src="~/js/popper.js"></script>
	<script src="~/js/main.js"></script>*@
	@*<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7de5f102b8fca123","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.4.0","si":100}' crossorigin="anonymous"></script>*@
</body>
</html>
