@page
@model CinemaWebClient.Pages.SignUpModel
@{
	Layout = null;
}
<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sign Up</title>
	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link href="~/css/style.css" rel="stylesheet" />
	<script nonce="4aefb833-97bc-41de-82c7-e80ee3b2f156">(function (w, d) { !function (dK, dL, dM, dN) { dK[dM] = dK[dM] || {}; dK[dM].executed = []; dK.zaraz = { deferred: [], listeners: [] }; dK.zaraz.q = []; dK.zaraz._f = function (dO) { return function () { var dP = Array.prototype.slice.call(arguments); dK.zaraz.q.push({ m: dO, a: dP }) } }; for (const dQ of ["track", "set", "debug"]) dK.zaraz[dQ] = dK.zaraz._f(dQ); dK.zaraz.init = () => { var dR = dL.getElementsByTagName(dN)[0], dS = dL.createElement(dN), dT = dL.getElementsByTagName("title")[0]; dT && (dK[dM].t = dL.getElementsByTagName("title")[0].text); dK[dM].x = Math.random(); dK[dM].w = dK.screen.width; dK[dM].h = dK.screen.height; dK[dM].j = dK.innerHeight; dK[dM].e = dK.innerWidth; dK[dM].l = dK.location.href; dK[dM].r = dL.referrer; dK[dM].k = dK.screen.colorDepth; dK[dM].n = dL.characterSet; dK[dM].o = (new Date).getTimezoneOffset(); if (dK.dataLayer) for (const dX of Object.entries(Object.entries(dataLayer).reduce(((dY, dZ) => ({ ...dY[1], ...dZ[1] })), {}))) zaraz.set(dX[0], dX[1], { scope: "page" }); dK[dM].q = []; for (; dK.zaraz.q.length;) { const d_ = dK.zaraz.q.shift(); dK[dM].q.push(d_) } dS.defer = !0; for (const ea of [localStorage, sessionStorage]) Object.keys(ea || {}).filter((ec => ec.startsWith("_zaraz_"))).forEach((eb => { try { dK[dM]["z_" + eb.slice(7)] = JSON.parse(ea.getItem(eb)) } catch { dK[dM]["z_" + eb.slice(7)] = ea.getItem(eb) } })); dS.referrerPolicy = "origin"; dS.src = "/cdn-cgi/zaraz/s.js?z=" + btoa(encodeURIComponent(JSON.stringify(dK[dM]))); dR.parentNode.insertBefore(dS, dR) };["complete", "interactive"].includes(dL.readyState) ? zaraz.init() : dK.addEventListener("DOMContentLoaded", zaraz.init) }(w, d, "zarazData", "script"); })(window, document);</script>
</head>
<body class="img js-fullheight" style="background-image: url(images/background-cinema.jpg);">
	<section class="ftco-section" style="padding: 2em 0;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Sign Up</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<form asp-page="/SignUp" class="signin-form">
							<div class="form-group">
								<input asp-for="SignUp.Email" class="form-control" placeholder="Email">
								<span asp-validation-for="SignUp.Email" class="text-danger ml-2"></span>
							</div>
							<div class="form-group">
								<input asp-for="SignUp.FirstName" class="form-control" placeholder="Firstname">
								<span asp-validation-for="SignUp.FirstName" class="text-danger ml-2"></span>
							</div>
							<div class="form-group">
								<input asp-for="SignUp.LastName" class="form-control" placeholder="Lastname">
								<span asp-validation-for="SignUp.LastName" class="text-danger ml-2"></span>
							</div>
							<div class="form-group">
								<input asp-for="SignUp.Password" type="password" class="form-control" placeholder="Password">
								<span toggle="#SignUp_Password" style="top: 35%;" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								<span asp-validation-for="SignUp.Password" class="text-danger ml-2"></span>
							</div>
							<div class="form-group">
								<input asp-for="SignUp.ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
								<span toggle="#SignUp_ConfirmPassword" style="top: 35%;" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								<span asp-validation-for="SignUp.ConfirmPassword" class="text-danger ml-2"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
							</div>
							<div class="form-group d-md-flex justify-content-end">
								<div class="w-50 text-md-right">
									<a asp-page="/SignIn" style="color: #fff">Have an account?</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="~/js/popper.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v52afc6f149f6479b8c77fa569edb01181681764108816" integrity="sha512-jGCTpDpBAYDGNYR5ztKt4BQPGef1P0giN6ZGVUi835kFF88FOmmn8jBQWNgrNd8g/Yu421NdgWhwQoaOPFflDw==" data-cf-beacon='{"rayId":"7de5f102b8fca123","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2023.4.0","si":100}' crossorigin="anonymous"></script>
	<script src="~/js/main.js"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
</body>
</html>
