@page
@model CinemaWebClient.Pages.Admin.Show.IndexModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
	<div class="d-sm-flex align-items-center mb-4">
		<h1 class="h3 mb-0 text-gray-800" style="text-shadow: 0px 5px 20px gray;">Shows</h1>
	</div>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">Search Show</h6>
		</div>
		<div class="card-body row">
			<div class="col-md-1"></div>
			<div class="col-md-4">
				<div class="d-flex mt-3">
					<label class="form-label" style="width:15%"><b>ID</b></label>
					<input id="txtSearchById" class="form-control" type="text" />
				</div>
				<div class="d-flex mt-3">
					<label class="form-label" style="width:15%"><b>Title</b></label>
					<input id="txtSearchByTitle" class="form-control" type="text" />
				</div>
				<div class="d-flex mt-3">
					<label class="form-label" style="width:15%"><b>Room</b></label>
					<select id="txtSearchByRoom" class="form-control">
						<option value="-1" selected>Select option</option>
						@foreach (var item in Model.Rooms)
						{
							<option value="@item.RoomId">@item.RoomName</option>
						}
					</select>
				</div>
				<button class="btn btn-primary" style="margin-top:15px; margin-left: 80%;" onclick="Search()">Search</button>
			</div>
		</div>
	</div>
	<div class="create-link mb-4">
		<a asp-page="/Admin/Show/Create" class="btn btn-primary btn active disable-user" role="button" aria-pressed="true">
			Add Show
		</a>
	</div>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">List Show</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>ID</th>
							<th>Film</th>
							<th>Room</th>
							<th>Price</th>
							<th>Show Date</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody id="tableContent">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			LoadData('http://localhost:5001/api/Shows');
		});

		function LoadData(link) {
			var tableContent = document.getElementById('tableContent');
			tableContent.innerHTML = "";
			var initedDataTable = tableContent.innerHTML != "";
			$.ajax({
				url: link,
				type: 'GET',
				data: {

				},
				success: (data) => {
					var tr = '';
					for (var i = 0; i < data.length; i++) {
						var formatShowDate = ParseDateTime(data[i].showDate);
						tr +=
							`<tr>
								<td>${data[i].showId}</td>
								<td>${data[i].film.title}</td>
								<td>${data[i].room.roomName}</td>
								<td>${data[i].price}</td>
								<td>${formatShowDate}</td>`;
						var dateNow = new Date();
						//console.log((new Date(data[i].showDate) - dateNow) / (60 * 60 * 1000))
						if ((new Date(data[i].showDate) - dateNow) / (60 * 60 * 1000) > 1) {
							tr += `<td>
										<a href="/Admin/Show/Edit?id=${data[i].showId}" class="btn btn-primary">Edit</a>
										<a href="/Admin/Show/Delete?id=${data[i].showId}" class="btn btn-primary">Delete</a>
									</td>`
						} else {
							tr += `<td></td>`
						}
						tr += `</tr>`
					}
					tableContent.innerHTML = tr;
					if (!initedDataTable) {
						$(document).ready(function () {
							$('#myTable').DataTable({
								pagingType: 'full',
								"lengthChange": false,
								searching: false,
								"bDestroy": true
							});
						});
					}
				},
				error: (err) => {
					NotificationMessageError("Server not respone!");
				}
			});
		}

		var querySearch = "http://localhost:5001/api/Shows?";
		function Search() {
			var valueID = document.getElementById("txtSearchById").value;
			var valueTitle = document.getElementById("txtSearchByTitle").value;
			var valueRoom = document.getElementById("txtSearchByRoom").value;


			var query = "";
			query += MakeQueryConditionContainStringCastingNumToString("ShowId", valueID, true);
			query += MakeQueryConditionContainString("Film/Title", valueTitle, false);
			if (valueRoom != -1) {
				query += MakeQueryEqual("RoomId", valueRoom, false);
			}
			console.log(querySearch + query);
			LoadData(querySearch + query);
		}
	</script>
	@if (TempData["ErrorMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageError('@TempData["ErrorMsg"].ToString()');
			});
		</script>
	}
	else if (TempData["SuccessMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageSuccess('@TempData["SuccessMsg"].ToString()');
			});
		</script>
	}
}

