@page
@model CinemaWebClient.Pages.Admin.Show.IndexModel
@{
	Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<style>
	.userTable {
		width: 90%;
		margin: 0 auto;
	}

	.create-link {
		margin-left: 5%;
	}

	.mt-10 {
		margin-top: 10px;
	}
</style>
<div style="display:flex; margin-bottom:50px">
	<i class="fa-solid fa-door-open" style="font-size:50px; margin-right:5px"></i>
	<h1>Show</h1>
</div>

<hr />

<div class="create-link">
	<a asp-page="/Admin/Show/Create" class="btn btn-primary btn active disable-user" role="button" aria-pressed="true">
		Create new Show
	</a>
</div>

<div class="userTable" style="margin-top:30px;">
	<table id="myTable" class="table table-bordered">
		<thead class="thead-dark">
			<tr>
				<th>ID</th>
				<th>Film</th>
				<th>Room</th>
				<th>Price</th>
				<th>Status</th>
				<th>Show Date</th>
			</tr>
		</thead>
		<tbody id="tableContent">
		</tbody>
	</table>
</div>

@section Scripts{
	<script>
		$(document).ready(function () {
			$('#myTable').DataTable({
				"searching": true,
				"lengthChange": false,
				"info": false,
				"ordering": false,
			});

			LoadData('http://localhost:5001/api/Shows');

		});

		function LoadData(link) {
			var tableContent = document.getElementById('tableContent');
			tableContent.innerHTML = "";
			$.ajax({
				url: link,
				type: 'GET',
				data: {

				},
				success: (data) => {
					var tr = '';
					for (var i = 0; i < data.length; i++) {
						tr +=
							`<tr>
								<td>${data[i].roomId}</td>
								<td>${data[i].roomName}</td>
								<td>${data[i].numberRow * data[i].numberColumn}</td>
							</tr>`;
					}
					tableContent.innerHTML = tr;
				},
				error: (err) => {
					NotificationMessageError("Server not respone!");
				}
			});
		}

		var querySearch = "http://localhost:5001/api/Rooms ";
		function Search() {
			LoadData(querySearch + query);
		}
	</script>
	@if (TempData["ErrorMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageFail('@TempData["ErrorMsg"].ToString()');
			});
		</script>
	}
	else if (TempData["SuccessMsg"] != null)
	{
		<script>
			$(document).ready(function () {
				NotificationMessageSuccess('@TempData["SuccessMsg"].ToString()');
			});
		</script>
	}
}

