@page
@model CinemaWebClient.Pages.Admin.Film.IndexModel
@{
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="d-sm-flex align-items-center mb-4">
        <h1 class="h3 mb-0 text-gray-800" style="text-shadow: 0px 5px 20px gray;">Film</h1>
    </div>
    <div class="create-link mb-4">
        <a asp-page="/Admin/Film/Create" class="btn btn-primary btn active disable-user" role="button" aria-pressed="true">
            Add Film
        </a>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">List Film</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Gerne</th>
                            <th>Duration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tableContent">
                        <tr>
                            <td>1</td>
                            <td><img src="http://localhost:5001/api/Images/ba90770e-28e0-4abe-a201-5035b2125d2a.png" alt="thumbnail" class="img-thumbnail"></td>
                            <td>100</td>
                            <td>100</td>
                            <td>100</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>


    $(document).ready(function () {
        LoadData('http://localhost:5001/api/Films');
    });

    function LoadData(link) {
        var tableContent = document.getElementById('tableContent');
        var imageAPI = "http://localhost:5001/api/Images/";
        var initedDataTable = tableContent.innerHTML != "";
        tableContent.innerHTML = "";
        $.ajax({
            url: link,
            type: 'GET',
            data: {

            },
            success: (data) => {
                var tr = '';
                console.log(data)
                for (var i = 0; i < data.length; i++) {
                    tr += ` <tr>`;
                    tr +=
                        `
                                <td>${data[i].filmId}</td>
                                <td><img src="${imageAPI + data[i].image}" alt="thumbnail" class="img-thumbnail" style='height:150px'></td>
                                <td>${data[i].title}</td>
                                <td>${data[i].genre.genreName}</td>
                                <td>${data[i].filmDuration} minutes</td>
                                <td><a class="btn btn-primary" href="Film/Edit?id=${data[i].filmId}" role="button">Edit</a></td>
                            `;
                    tr += ` </tr>`;
                } 
                tableContent.innerHTML = tr;
                if (!initedDataTable) {
                    $(document).ready(function () {
                        $('#myTable').DataTable({
                            pagingType: 'full',
                            "lengthChange": false,
                        });
                    });
                }
            },
            error: (err) => {
                NotificationMessageError("Server not respone!");
            }
        });
    }

</script>

@if (TempData["SuccessMsg"] != null)
{
    <script>
        $(document).ready(function () {
            NotificationMessageSuccess('@TempData["SuccessMsg"].ToString()');
        });
    </script>
}
}
