@page
@model CinemaWebClient.Pages.Payment.IndexModel
@{
}



<h2 class="text-center">Request Recharge</h2>

<form style="margin: 0 auto; width:400px;" action="~/Transaction/Payment" id="form">
    <input type="hidden" name="id" value="1"/>
    <div class="mb-3">
        <label class="form-label">Amount <span style="color:red;font-weight:bold">*</span></></label>
        <div class="d-flex">
            <input type="text" id="amount" name="rawAmount" class="form-control" value="10,000" required style="width:90%" oninput="inputAmount()">
            <span style="color:red;font-weight:bold; margin-left:3%; margin-top:5px;">VND</span>
        </div>

        <div class="form-text">Input number's amount you want to recharge</div>
    </div>
    <div class="mb-3">
        <label class="form-label">Description</label>
        <textarea id="editor"  rows="4" cols="50"
            class="form-control"
        >
        </textarea>
    </div>
</form>
<input type="submit" class="btn btn-info btn-lg" id="btnSubmit" value="Submit" />



<script>

    document.getElementById("btnSubmit").addEventListener("click", (event) => {
        var amount = document.querySelector("#amount").value;
        var amountValue = parseInt(amount.replaceAll(",", ""));
        if (amountValue < 10000 || amount.length === 0) {
            NotificationMessageError("Amount must be grater than 10,000 VND");
            event.preventDefault()
            return;
        }else{
            console.log("submit");
            document.querySelector("#form").submit();
        }
    });

    ClassicEditor
        .create(document.querySelector('#editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote', 'insertTable', 'imageUpload', 'undo', 'redo'],
        })
        .catch(error => {
            console.error(error);
        });

    //prevent key
    document.getElementById("amount").addEventListener("keydown", (event) => {
        var amount = document.getElementById("amount").value;
        var acceptedKeyCode = [
            48,49,50,51,52,53,54,55,56,57,58,96,97,98,99,100,101,102,103,104,105,8
        ];
        if (!acceptedKeyCode.includes(event.keyCode)) {
            event.preventDefault()
            return;
        }
    });

    function inputAmount(){
        var amount = document.querySelector("#amount").value;
        amount = amount.replaceAll(",", "");
        /*
        if(amount.length === 0 || parseInt(amount) < 10000){
            amount = "10,000";
            document.querySelector("#amount").value = amount;
            return;
        }
        */
        var formatVND = formatStringToCurrencyVND(amount);
        document.querySelector("#amount").value = formatVND;
    }

    


</script>


